/XMLtoJava/*
/FusorCompModeling/build/
/FusorCompModeling/dist/
/FusorCompModeling/nbproject/private/
/MathEval/nbproject/private/*
/MathEval/build/*
/MathEval/dist/*
FusorVis/build/*
FusorVis/dist/*
FusorVis/dist/run/*
lib/JFX3DModelImporters/*
*.jar
OpenCL test/build/*
OpenCL test/nbproject/private/*